{{ define "content" }}
    <div class="contacts-container">
        <div class="contacts-title">
            My Contacts
        </div>

        <div class="contacts-icons">
            <a href="mailto:nikagandzh@gmail.com">
                <div class="icon-size mailto-icon"></div>
            </a>
            <a href="https://www.instagram.com/nikagandzh">
                <div class="icon-size instagram-icon"></div>
            </a>
            <a href="https://www.behance.net/nikagandzhadcd">
                <div class="icon-size behance-icon"></div>
            </a>
        </div>
    </div>

{{ end }}
{{ define "title" }} Contacts {{ end }}
